
body {
	color:#fff;
	margin: 0;
	background-color:#2f5572;
	-webkit-columns: 400px 3;
	        columns: 400px 3;
	-webkit-transition: 3s easein;
	transition: 3s easein;
}

.box a {
		display: block;
		padding: 10px;
	}