
$mainBlue : #fff;
$mainOrange : #2f5572;
body {
	color:$mainBlue;
	margin: 0;
	background-color:$mainOrange;
	columns: 400px 3;
	transition: 3s easein;
}

.box{
	a {
		display: block;
		padding: 10px;
	}
}